
a:link,a:visited {
 text-decoration:none;  /*超链接无下划线*/
 color: black;
}

.divideline {
    height:0px;
    border:none;
    border-top:0px solid #555555;
    margin-top: 0px;
}

.toplogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}

.logotext {
    display: flex;
    font-size: 16px;
    font-weight:bold;
    margin-top: 10px;
}

.slogan {
    display: flex;
    font-size: 16px;
    font-weight:bold;
    margin-top: 10px;
    color: red;
}

.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bookstitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight:bold;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bookimg {
    display: flex;
    width: 200px;
    margin-bottom: 15px;
}

.bookname {
    display: flex;
    font-size: 16px;
}

.articles {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.articlestitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight:bold;
}

.article {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.articleimg {
    display: flex;
    width: 200px;
    margin-bottom: 15px;
}

.articlename {
    display: flex;
    font-size: 16px;
    margin-left: 20px;
}

.papers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.paperstitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight:bold;
}

.paper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.paperimg {
    display: flex;
    width: 200px;
    margin-bottom: 15px;
}

.papername {
    display: flex;
    font-size: 16px;
    margin-left: 20px;
}

.matches {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.matchestitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight:bold;
}

.match {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.matchimg {
    display: flex;
    width: 200px;
    margin-bottom: 15px;
}

.matchname {
    display: flex;
    font-size: 16px;
    margin-left: 20px;
}

.aiclasses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.aiclassestitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight:bold;
}

.aiclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.aiclassimg {
    display: flex;
    width: 300px;
    margin-bottom: 15px;
}

.aiclassname {
    display: flex;
    font-size: 16px;
}

.linklogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.linklogorow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.linklogostitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight:bold;
}

.linklogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.linklogoimg {
    display: flex;
    width: 200px;
    margin-bottom: 15px;
}

.linklogoname {
    display: flex;
    font-size: 16px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color: grey;
    font-weight:bold;
}
