
.toplogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}

.logotext {
    display: flex;
    font-size: 16px;
    font-weight:bold;
    margin-top: 10px;
}

.slogan {
    display: flex;
    font-size: 16px;
    font-weight:bold;
    margin-top: 10px;
    color: red;
}

.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.book {
    display: flex;
    width: 200px;
    margin-bottom: 15px;
}

.bookname {
    display: flex;
    font-size: 16px;
    font-weight:bold;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color: grey;
    font-weight:bold;
}
