
.toplogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotext {
    font-size: 16px;
    font-weight:bold;
}

.slogan {
    font-size: 16px;
    font-weight:bold;
}

.books {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book {
    width: 200px;
}

.bookname {
    font-size: 16px;
    font-weight:bold;
}
