
.toplogo {
    display: flex;
    justify-content: center;
}

.logotext {
    display: flex;
    font-size: 16px;
    font-weight:bold;
}

.slogan {
    display: flex;
    font-size: 16px;
    font-weight:bold;
}

.books {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book {
    display: flex;
    width: 200px;
}

.bookname {
    display: flex;
    font-size: 16px;
    font-weight:bold;
}
